* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;

}

.header-bar{
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
display: flex;
margin-top: 0;
padding-top: 0;
height: 80px;
justify-content: center;
align-items: center;
opacity: 1;
padding-top: 24px;
padding-right: 16px;
padding-bottom: 24px;
padding-left: 16px;
gap: 11px;
    background-color: white;

}

.chef-logo{
  width: 43px;
  height: 52px;
}

.header-text{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: -5%;
    min-height: 12px;

}

.input-field{
    width: 399px;
    height: 38px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    max-width: 400px;
    min-width: 150px;
    flex-grow: 1;


}
.input-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.add-ingredient-btn{
    margin: 12px;
    width: 183;
    height: 38;
    opacity: 1;
    padding: 9px 17px;
    border-radius: 6px;
    background-color: #141413;
    color: white;
    font-size: 14px;
    flex-shrink: 0;

}

.add-ingredient-btn::before{
    content: "+";
    margin-right: 5px;

}

main{
    padding: 30px 10px 30px;
}
fieldset{
    display: flex;
    flex-direction: column;
}