*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: wheat;
}

.contact-card{
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 10px;

}
.card-image-container {
  text-align: center;   /* centers inline elements like <img> */
  overflow: hidden;
  height: 150px;
}

.card-image {
    padding: 12px;
    width: 100%;      /* responsive */
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    /* height: 90%; */
}

.contact-info > h2{
    margin: 0;
    margin-left: 5px;
    font-family: Inter;
    font-size: large;
}

.contact-info >img{
    width: 10px;
    margin-top: 10px;
}

.info{
    /* position: relative;
    align-items:start; */
    margin: 6px;
}

.contact-info{
    margin-left: 12px;
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 500;
}

.card-list {
  display: flex;          /* makes children sit in a row */
  gap: 16px;              /* space between cards */
  justify-content: center; /* optional: center them horizontally */
  flex-wrap: wrap;        /* allow wrapping onto next row if screen is small */
}
